<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Task</title>
  </head>
  <body>
    <h2>New Task for <%= @user.username %></h2>

    <form class="" action="/tasks" method="post">
      <input type="text" name="task[name]" value=""placeholder="What did you do?"><br></br>
      <textarea name="task[effect]" rows="6" cols="60" placeholder="How was this good for you? What will happen in the future when you do it again? What was the effect?"></textarea><br></br>
      <input type="checkbox" name="task[day]" value="sunday">Sunday</input><br>
      <input type="checkbox" name="task[day]" value="monday">Monday</input><br>
      <input type="checkbox" name="task[day]" value="tuesday">Tuesday</input><br>
      <input type="checkbox" name="task[day]" value="wednesday">Wednesday</input><br>
      <input type="checkbox" name="task[day]" value="thursday">Thursday</input><br>
      <input type="checkbox" name="task[day]" value="friday">Friday</input><br>
      <input type="checkbox" name="task[day]" value="saturday">Saturday</input><br>
      <input type="submit" value="Create Task"><br>

    </form>
  </body>
</html>
