<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Growing</title>
  </head>
  <body>
    <h1>Growing</h1>

    <div class="content">
      <p>When you do somehting that you realize was good for you, or that you'd like to do more often, save it. And which day of the week this beautiful thing was done on. Do it again next week.</p>
    </div>

    <div class="content">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </div>

  </body>
</html>
