<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Growing</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div>

    <div class="sidebar">
      <ul>
        <% unless logged_in? %>
          <a href="/login">Log In</a><br>
          <a href="/signup">Sign Up</a><br>
        <% end %>
        <% if logged_in? && request.path_info != "/tasks/new" %>
          <a href="/tasks/new">New Task</a>
        <% end %><br>
        <% if logged_in? %>
          <a href="/users/<%= current_user.slug %>">My Week</a><br>
        <% end %>
        <a href="/tasks">All Tasks</a><br>
        <a href="/users">All Users</a><br>
        <% if logged_in? %>
          <a href="/users/<%= current_user.slug %>/edit">Edit Profile</a><br>
          <a href="/logout">Log Out</a><br>
        <% end %>
      </ul>
    </div>


      <%= yield %>

    <footer>
      <small>&copy; 2017 <strong>Growing</strong></small>
    </footer>
  </div>


</body>
